Package            Version
------------------ ---------
certifi            2022.12.7
cffi               1.15.1
charset-normalizer 3.0.1
Deprecated         1.2.13
distlib            0.3.6
filelock           3.9.0
idna               3.4
pip                20.3.4
pipenv             2023.2.18
pkg-resources      0.0.0
platformdirs       3.0.0
pycparser          2.21
PyGithub           1.58.0
PyJWT              2.6.0
PyNaCl             1.5.0
requests           2.28.2
setuptools         67.3.3
urllib3            1.26.14
virtualenv         20.19.0
virtualenv-clone   0.5.7
wrapt              1.14.1
